name: ci
on:
  pull_request:
    branches: [main]
  push:
    branches: [main]
jobs:
  check:
    name: Check
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v4
      - name: Install system dependencies
        run: sudo apt-get update && sudo apt-get install -y gcc libc6-dev libgl1-mesa-dev libxcursor-dev libxi-dev libxinerama-dev libxrandr-dev libxxf86vm-dev libasound2-dev libx11-dev pkg-config
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.24.3"
      - name: Install staticcheck
        run: go install honnef.co/go/tools/cmd/staticcheck@latest
      - name: Install gosec
        run: go install github.com/securego/gosec/v2/cmd/gosec@latest
      - name: Run checks
        run: make check
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v4
      - name: Install system dependencies
        run: sudo apt-get update && sudo apt-get install -y gcc libc6-dev libgl1-mesa-dev libxcursor-dev libxi-dev libxinerama-dev libxrandr-dev libxxf86vm-dev libasound2-dev libx11-dev pkg-config
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.24.3"
      - name: Run tests
        run: make test-cover
