name: ci
on:
  pull_request:
    branches: [main]
  push:
    branches: [main]
jobs:
  check:
    name: Check
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v4
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.24.3"
      - name: Run checks
        run: make check
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v4
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.24.3"
      - name: Run tests
        run: make test-cover